name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x
    - name: Setup sqlite-devel
      run: apt-get -y install libsqlite3-dev
    - name: Setup dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Test with rubocop
      run: rubocop

